.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding: 16px;
  }
  
  .producto {
    width: 250px;
  }
  
  .mensaje {
    text-align: center;
    color: green;
    font-weight: bold;
    margin: 10px 0;
  }
  