<div class="card-container">
    <mat-card *ngFor="let producto of productos" class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title><b>{{ producto.nombre }}</b></mat-card-title>
          <mat-card-subtitle>{{ producto.descripcion }}</mat-card-subtitle>
      </mat-card-header>
      <!--imagen del producto-->
      <img mat-card-image [src]="producto.imagen" alt="{{ producto.nombre }}" class ="img">
      <mat-card-content>
        <p>Precio: Q{{ producto.precio }}</p>
      </mat-card-content>
        <!-- boton de agregar-->
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="agregar(producto.nombre)">
            <mat-icon>add_shopping_cart</mat-icon>
            Agregar</button>
      </mat-card-actions>
    </mat-card>
  </div>
  
  <!-- Mensaje de confirmación -->
<div *ngIf="mensaje" class="mensaje">
    {{ mensaje }}
  </div>